* {
	box-sizing: border-box;
}

html {
	color: #333;
	font-family: Verdana, sans-serif;
	line-height: 1.4;
}

body {
	max-width: 70ch;
	margin: 0 auto;
	padding: 0.5em;
}

a,
a:visited {
	color: inherit;
}

code,
pre {
	font-family: Menlo, Consolas, monospace;
}

pre {
	padding: 1em;
	background-color: #eee;
	border-radius: 0.5em;
}

@media (prefers-color-scheme: dark) {
	html {
		color: #ddd;
		background-color: #333;
	}

	pre {
		background-color: #444;
	}
}
